<meta charset="UTF-8">
<title>Aplikasi Orderan Mobil</title>
<!-- CSS (load bootstrap from a CDN)-->
<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body{
        padding-top: 50px; /*bikin jarak dari atas dorong kebawah*/
    }

    table{
        width: 100%;
    }

    table > thead> tr > th{
        /* bisa lihat di hexa code */
        /* gaya garis di w3school */
        border: 1px solid #000;
    }

    table > tbody > tr > td{
        border: 1px solid black;
    }
</style>