<htm lang="en">
    <head>
        <!--Mendefinisikan judul website, css, SEO-->
        <%- include('../partials/head'); %>
    </head>
    <body>
        <!--Body = ini tempat tampilan website di buat-->
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <div class="jumbotron">
                <h1>Course-Net Indonesia</h1>
                <p>selamat datang di aplikasi sewa mobil</p>
            </div>
        </main>

        <footer>
            <!-- Footer =Bagian bawah website, biasanya informasi copyright dll-->
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>